alpaca-py
pandas
black
flake8
trendet
yahooquery
lxml
python-dotenv
multitasking
yfinance  # TODO fix this error to make it work with more recent version
scikit-learn
scipy
pytest
pytest-mock
alpaca-trade-api
beautifulsoup4
crewai_tools
matplotlib
requests
numpy
seaborn
selenium
webdriver_manager
